<div class="main-content">
    <div class="row block">
        <img class="header-image" src="assets/imgs/header.jpg" />
        <img class="logo-image" src="assets/imgs/logo.jpg" />
    </div>
    <div class="row">
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">Slide 1</div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
</div>
