<div class="nav">
    <div class="row align-justify hide-for-small-only">
        <div class="columns medium-4">Available Mon-Fri 9am-5pm EST</div>
        <div class="columns medium-4 align-center">Contact Us At <strong><a href="tel:269-201-7098">269-201-7098</a></strong></div>
        <div class="columns medium-4 end"><i class="fa fa-envelope-open"></i> <a href="mailto:DNA.LARP.TECH@gmail.com">DNA.LARP.TECH@gmail.com</a></div>
    </div>
    <div class="row" *ngIf="false">
        <div class="columns small-12 links">
            <div class="row">
                <div class="columns small-2">
                    <a>Home</a>
                </div>
                <div class="columns small-2">
                    <a>Gallery</a>
                </div>
                <div class="columns small-2">
                    <a>Gallery</a>
                </div>
                <div class="columns small-2">
                    <a>Blog</a>
                </div>
                <div class="columns small-2">
                    <a>About Us</a>
                </div>
                <div class="columns small-2">
                    <a></a>
                </div>
            </div>
        </div>
    </div>
</div>
